*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:'Poppins',sans-serif;

background:linear-gradient(135deg,#ffd6e8,#e7c6ff,#cdb4db,#ffc8dd);

min-height:100vh;

display:flex;
justify-content:center;
align-items:center;

padding:40px;

}

.container{

max-width:1200px;
width:100%;

background:white;

border-radius:25px;

padding:40px;

box-shadow:0 20px 60px rgba(0,0,0,0.2);

text-align:center;

}


/* heading */

header h1{

font-family:'Dancing Script',cursive;

font-size:48px;

color:#9d4edd;

margin-bottom:10px;

}

header h2{

font-size:55px;

color:#ff4da6;

margin-bottom:10px;

}

.subtitle{

color:#666;

margin-bottom:30px;

}


/* parents */

.parents{

background:#ffe5ec;

padding:20px;

border-radius:15px;

margin-bottom:30px;

}

.parents h3{

color:#9d4edd;

margin-bottom:10px;

}

.parents span{

color:#ff4da6;

font-weight:bold;

}


/* paragraph */

.about{

background:#f8edff;

padding:25px;

border-radius:15px;

margin-bottom:40px;

line-height:1.7;

font-size:17px;

color:#444;

}

.about h3{

margin-bottom:10px;

color:#7b2cbf;

}


/* gallery */

.gallery h3{

margin-bottom:25px;

color:#9d4edd;

font-size:26px;

}

.images{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:20px;

}

.images img{

width:100%;

height:260px;

object-fit:cover;

border-radius:15px;

transition:0.4s;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

}

.images img:hover{

transform:scale(1.08);

box-shadow:0 15px 40px rgba(255,105,180,0.5);

}


/* footer */

footer{

margin-top:30px;

color:#666;

font-size:14px;

}


/* responsive */

@media(max-width:768px){

header h1{
font-size:36px;
}

header h2{
font-size:40px;
}

.images img{
height:200px;
}

}
